<style>

TD.inputfelt {COLOR: black; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: normal;}

.inputfelt {COLOR: black; FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: normal;}

TD.lt {COLOR: black; FONT-FAMILY: Arial; FONT-SIZE: 9pt; FONT-WEIGHT: bold;}

.postit
{
    BACKGROUND-COLOR: #fff4ad;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    FONT-FAMILY: Comic Sans MS;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 15px;
    PADDING-LEFT: 15px;
    PADDING-RIGHT: 15px;
    PADDING-TOP: 7px;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: top}

TD.header1
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: bold;
}
TD.header2
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
}
BODY
{
    BACKGROUND: #E4EBEB;
    MARGIN-LEFT: 10px;
    MARGIN-RIGHT: 10px;
}

B {FONT-WEIGHT: bold;}
A:link {COLOR: blue;}
A:visited {COLOR: blue;}
A:active {COLOR: blue; FONT-WEIGHT: normal;}

A:link.ledetekst{FONT-FAMILY: Arial; color : #000000;text-decoration: none}
A:visited.ledetekst{FONT-FAMILY: Arial; color : #000000;text-decoration: none}
A:active.ledetekst{FONT-FAMILY: Arial; color : #000000; FONT-WEIGHT: normal}

</style>